{
    "swagger": "2.0",
    "info": {
        "title": "\u5168\u56fd\u5144\u5f1f\u60c5\u7cbe\u9009\u8f66 API\u63a5\u53e3",
        "description": "\u5168\u56fd\u5144\u5f1f\u60c5\u7cbe\u9009\u8f66API\u63a5\u53e3\uff0c\u7528\u4e8e\u524d\u7aef\u5c0f\u7a0b\u5e8f\u8c03\u7528\u3002",
        "termsOfService": "#",
        "contact": {
            "email": "daniel_c_tao@qq.com"
        },
        "license": {
            "name": "PHP 7.2 & ThinkPHP 5.1.27",
            "url": "#"
        },
        "version": "1.0"
    },
    "host": "che.xingyizxmr.com:8080",
    "basePath": "",
    "schemes": [
        "http"
    ],
    "paths": {
        "/api/areas/getprovince": {
            "get": {
                "tags": [
                    "5-\u5730\u533a\u90e8\u5206\u63a5\u53e3"
                ],
                "summary": "4.1-\u83b7\u53d6\u7701\u4efd\u4fe1\u606f",
                "description": "\u83b7\u53d6\u7701\u4efd\u4fe1\u606f(\u4e3a\u5c0f\u7a0b\u5e8f\u4f7f\u7528)",
                "operationId": "getprovince",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "JSON\u683c\u5f0f",
                        "schema": {
                            "$ref": "#/definitions/ApiResponse"
                        }
                    }
                },
                "security": [
                    {
                        "petstore_auth": [
                            "write:getprovince",
                            "read:getprovince"
                        ]
                    }
                ]
            }
        },
        "/api/areas/getcity?proviceid=110000": {
            "get": {
                "tags": [
                    "5-\u5730\u533a\u90e8\u5206\u63a5\u53e3"
                ],
                "summary": "4.2-\u6839\u636e\u7701id\u83b7\u53d6\u5e02\u4fe1\u606f",
                "description": "\u83b7\u53d6\u5e02\u4fe1\u606f(\u4e3a\u5c0f\u7a0b\u5e8f\u4f7f\u7528)",
                "operationId": "getcity",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "JSON\u683c\u5f0f",
                        "schema": {
                            "$ref": "#/definitions/ApiResponse"
                        }
                    }
                },
                "security": [
                    {
                        "petstore_auth": [
                            "write:getcity",
                            "read:getcity"
                        ]
                    }
                ]
            }
        },
        "/api/areas/getarea?cityid=110900": {
            "get": {
                "tags": [
                    "5-\u5730\u533a\u90e8\u5206\u63a5\u53e3"
                ],
                "summary": "4.3-\u6839\u636e\u5e02id\u83b7\u53d6\u5730\u533a\u4fe1\u606f",
                "description": "\u83b7\u53d6\u5730\u533a\u4fe1\u606f(\u4e3a\u5c0f\u7a0b\u5e8f\u4f7f\u7528)",
                "operationId": "getarea",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "JSON\u683c\u5f0f",
                        "schema": {
                            "$ref": "#/definitions/ApiResponse"
                        }
                    }
                },
                "security": [
                    {
                        "petstore_auth": [
                            "write:getarea",
                            "read:getarea"
                        ]
                    }
                ]
            }
        },
        "/api/Config/info": {
            "get": {
                "tags": [
                    "2-\u7cfb\u7edf\u914d\u7f6e\u7ba1\u7406\u90e8\u5206\u63a5\u53e3"
                ],
                "summary": "2.1-\u83b7\u53d6\u7cfb\u7edf\u914d\u7f6e\u4fe1\u606f",
                "description": "\u83b7\u53d6\u7cfb\u7edf\u914d\u7f6e\u4fe1\u606f(\u4e3a\u5c0f\u7a0b\u5e8f\u4f7f\u7528)\u3002\u83b7\u53d6\u7cfb\u7edf\u5e7f\u544a\u4f4d\uff0c\u5fae\u4fe1\u4e8c\u7ef4\u7801\uff0c\u624b\u673a\u53f7\uff0c\u8054\u7cfb\u65b9\u5f0f\u3002",
                "operationId": "info",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "\u6dfb\u52a0\u6210\u529f",
                        "schema": {
                            "$ref": "#/definitions/ApiResponse"
                        }
                    }
                },
                "security": [
                    {
                        "petstore_auth": [
                            "write:info",
                            "read:info"
                        ]
                    }
                ]
            }
        },
        "/api/Upload/uploadimg": {
            "post": {
                "tags": [
                    "4-\u4e0a\u4f20\u56fe\u7247\u63a5\u53e3"
                ],
                "summary": "4.1-\u6dfb\u52a0\u56fe\u7247",
                "description": "\u6dfb\u52a0\u56fe\u7247(\u540e\u53f0\u4f7f\u7528)\u3002",
                "operationId": "uploadimg",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "description": "Json\u683c\u5f0f",
                        "required": true,
                        "schema": {
                            "example": {
                                "img64": "base64\u4f4d\u56fe\u7247"
                            }
                        },
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "\u6dfb\u52a0\u6210\u529f",
                        "schema": {
                            "$ref": "#/definitions/ApiResponse"
                        }
                    }
                },
                "security": [
                    {
                        "petstore_auth": [
                            "write:uploadimg",
                            "read:uploadimg"
                        ]
                    }
                ]
            }
        },
        "/api/Upload/upload": {
            "post": {
                "tags": [
                    "4-\u4e0a\u4f20\u56fe\u7247\u63a5\u53e3"
                ],
                "summary": "4.2-\u6dfb\u52a0\u56fe\u7247",
                "description": "\u6dfb\u52a0\u56fe\u7247(\u4e3a\u5c0f\u7a0b\u5e8f\u4f7f\u7528)\u3002",
                "operationId": "upload",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "description": "Json\u683c\u5f0f",
                        "required": true,
                        "schema": {
                            "example": {
                                "file": "\u5c0f\u7a0b\u5e8f\u56fe\u7247\u4e0a\u4f20\u4fe1\u606f"
                            }
                        },
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "\u6dfb\u52a0\u6210\u529f",
                        "schema": {
                            "$ref": "#/definitions/ApiResponse"
                        }
                    }
                },
                "security": [
                    {
                        "petstore_auth": [
                            "write:upload",
                            "read:upload"
                        ]
                    }
                ]
            }
        },
        "/api/User/add": {
            "post": {
                "tags": [
                    "1-\u7528\u6237\u7ba1\u7406\u90e8\u5206\u63a5\u53e3"
                ],
                "summary": "1.1-\u6dfb\u52a0\u7528\u6237",
                "description": "\u6dfb\u52a0\u7528\u6237(\u4e3a\u5c0f\u7a0b\u5e8f\u4f7f\u7528)\u3002",
                "operationId": "add",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "description": "Json\u683c\u5f0f",
                        "required": true,
                        "schema": {
                            "example": {
                                "username": "\u7528\u6237\u59d3\u540d",
                                "openid": "\u5c0f\u7a0b\u5e8f\u83b7\u53d6\u7684openid",
                                "mobileno": "\u5c0f\u7a0b\u5e8f\u83b7\u53d6\u5230\u7684\u7528\u6237\u624b\u673a\u53f7"
                            }
                        },
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "\u6dfb\u52a0\u6210\u529f",
                        "schema": {
                            "$ref": "#/definitions/ApiResponse"
                        }
                    }
                },
                "security": [
                    {
                        "petstore_auth": [
                            "write:add",
                            "read:add"
                        ]
                    }
                ]
            }
        },
        "/api/User/info?openid={openid}&mobileno={mobileno}": {
            "get": {
                "tags": [
                    "1-\u7528\u6237\u7ba1\u7406\u90e8\u5206\u63a5\u53e3"
                ],
                "summary": "1.2-\u83b7\u53d6\u7528\u6237\u4fe1\u606f",
                "description": "\u83b7\u53d6\u7528\u6237\u4fe1\u606f(\u4e3a\u5c0f\u7a0b\u5e8f\u4f7f\u7528)\u3002openid\u548cmobileno\u4e24\u8005\u4f20\u4e00\u4e2a\u5373\u53ef\u3002",
                "operationId": "info",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "openid",
                        "in": "query",
                        "description": "openid",
                        "required": false,
                        "format": "string"
                    },
                    {
                        "name": "mobileno",
                        "in": "query",
                        "description": "\u624b\u673a\u53f7",
                        "required": false,
                        "format": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "\u6dfb\u52a0\u6210\u529f",
                        "schema": {
                            "$ref": "#/definitions/ApiResponse"
                        }
                    }
                },
                "security": [
                    {
                        "petstore_auth": [
                            "write:info",
                            "read:info"
                        ]
                    }
                ]
            }
        },
        "/api/User/loginWxxcx?code={code}&encryptedData={encryptedData}&iv={iv}": {
            "get": {
                "tags": [
                    "1-\u7528\u6237\u7ba1\u7406\u90e8\u5206\u63a5\u53e3"
                ],
                "summary": "1.3-\u83b7\u53d6\u7528\u6237\u4fe1\u606f",
                "description": "\u83b7\u53d6\u7528\u6237\u4fe1\u606f(\u4e3a\u5c0f\u7a0b\u5e8f\u4f7f\u7528)\u3002code\\encryptedData\\iv\u3002",
                "operationId": "loginWxxcx",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "code",
                        "in": "query",
                        "description": "code",
                        "required": false,
                        "format": "string"
                    },
                    {
                        "name": "encryptedData",
                        "in": "query",
                        "description": "encryptedData",
                        "required": false,
                        "format": "string"
                    },
                    {
                        "name": "iv",
                        "in": "query",
                        "description": "iv",
                        "required": false,
                        "format": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "\u6dfb\u52a0\u6210\u529f",
                        "schema": {
                            "$ref": "#/definitions/ApiResponse"
                        }
                    }
                },
                "security": [
                    {
                        "petstore_auth": [
                            "write:loginWxxcx",
                            "read:loginWxxcx"
                        ]
                    }
                ]
            }
        },
        "/api/vehicle/getonevehicleinfo?id={id}&openid={openid}": {
            "get": {
                "tags": [
                    "3-\u8f66\u8f86\u7ba1\u7406\u90e8\u5206\u63a5\u53e3"
                ],
                "summary": "3.2-\u83b7\u53d6\u8f66\u8f86\u4fe1\u606f",
                "description": "\u83b7\u53d6\u8f66\u8f86\u4fe1\u606f(\u4e3a\u5c0f\u7a0b\u5e8f\u4f7f\u7528)\u3002\u53ef\u53ea\u4f20\u4e00\u4e2a\u53c2\u6570id\uff0c\u83b7\u53d6\u6211\u53d1\u5e03\u7684\u8f66\u8f86\u4e5f\u662f\u5728\u8fd9\u91cc",
                "operationId": "getvehicleinfo",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "id",
                        "required": false,
                        "format": "string"
                    },
                    {
                        "name": "openid",
                        "in": "query",
                        "description": "openid",
                        "required": false,
                        "format": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ApiResponse"
                        }
                    }
                },
                "security": [
                    {
                        "petstore_auth": [
                            "write:getonevehicleinfo",
                            "read:getonevehicleinfo"
                        ]
                    }
                ]
            }
        },
        "/api/vehicle/getvehicleinfo?openid={openid}&pricefrom={pricefrom}&priceto={priceto}&timefrom={timefrom}&timeto={timeto}&models={models}&self=1": {
            "get": {
                "tags": [
                    "3-\u8f66\u8f86\u7ba1\u7406\u90e8\u5206\u63a5\u53e3"
                ],
                "summary": "3.3-\u83b7\u53d6\u8f66\u8f86\u4fe1\u606f",
                "description": "\u83b7\u53d6\u8f66\u8f86\u4fe1\u606f(\u4e3a\u5c0f\u7a0b\u5e8f\u4f7f\u7528)\u3002\u53ef\u53ea\u4f20\u4e00\u4e2a\u53c2\u6570\uff0c\u83b7\u53d6\u6211\u53d1\u5e03\u7684\u8f66\u8f86\u4e5f\u662f\u5728\u8fd9\u91cc",
                "operationId": "getvehicleinfo",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "openid",
                        "in": "query",
                        "description": "openid",
                        "required": false,
                        "format": "string"
                    },
                    {
                        "name": "pricefrom",
                        "in": "query",
                        "description": "\u4ef7\u683c\u5f00\u59cb",
                        "required": false,
                        "format": "string"
                    },
                    {
                        "name": "priceto",
                        "in": "query",
                        "description": "\u4ef7\u683c\u622a\u6b62",
                        "required": false,
                        "format": "string"
                    },
                    {
                        "name": "timefrom",
                        "in": "query",
                        "description": "\u65f6\u95f4\u5f00\u59cb",
                        "required": false,
                        "format": "string"
                    },
                    {
                        "name": "timeto",
                        "in": "query",
                        "description": "\u65f6\u95f4\u622a\u6b62",
                        "required": false,
                        "format": "string"
                    },
                    {
                        "name": "models",
                        "in": "query",
                        "description": "\u8f66\u578b",
                        "required": false,
                        "format": "string"
                    },
                    {
                        "name": "self",
                        "in": "query",
                        "description": "\u5982\u679c\u8981\u67e5\u81ea\u5df1\u53d1\u5e03\u7684 \u90a3\u5c31\u52a0\u8fd9\u4e2a\u53c2\u6570 \u503c\u4e3a1 \u4e0d\u52a0\u9ed8\u8ba4\u6240\u6709",
                        "required": false,
                        "format": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ApiResponse"
                        }
                    }
                },
                "security": [
                    {
                        "petstore_auth": [
                            "write:getvehicleinfo",
                            "read:getvehicleinfo"
                        ]
                    }
                ]
            }
        },
        "/api/vehicle/updatestatus?id={id}&status={status}": {
            "get": {
                "tags": [
                    "3-\u8f66\u8f86\u7ba1\u7406\u90e8\u5206\u63a5\u53e3"
                ],
                "summary": "3.3-\u66f4\u65b0\u8f66\u8f86\u72b6\u6001",
                "description": "\u66f4\u65b0\u8f66\u8f86\u72b6\u6001\u3002\u66f4\u65b0\u8f66\u8f86\u72b6\u6001,status=2\u662f\u5ba1\u6838\u901a\u8fc7 status=3\u662f\u5ba1\u6838\u4e0d\u901a\u8fc7",
                "operationId": "updatestatus",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "id",
                        "required": false,
                        "format": "string"
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "description": "\u72b6\u6001",
                        "required": false,
                        "format": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "\u66f4\u65b0\u6210\u529f",
                        "schema": {
                            "$ref": "#/definitions/ApiResponse"
                        }
                    }
                },
                "security": [
                    {
                        "petstore_auth": [
                            "write:updatestatus",
                            "read:updatestatus"
                        ]
                    }
                ]
            }
        }
    },
    "definitions": {
        "ApiResponse": {
            "description": "\u901a\u7528\u8fd4\u56de\u7ed3\u679c\u5bf9\u8c61",
            "properties": {
                "resultId": {
                    "description": "",
                    "type": "string",
                    "example": "G00000010"
                },
                "resultCode": {
                    "description": "",
                    "type": "array",
                    "items": {
                        "type": "string"
                    },
                    "enum": [
                        "000000",
                        "999990",
                        "999999",
                        "600100",
                        "650100",
                        "650200",
                        "100001",
                        "100002"
                    ],
                    "example": "000000"
                },
                "resultMsg": {
                    "description": "",
                    "type": "string",
                    "example": "\u7ed3\u679c\u4fe1\u606f"
                },
                "pageReturn": {
                    "description": "",
                    "type": "object",
                    "example": {
                        "pageNumber": "1",
                        "pageSize": "1",
                        "totalRecords": "16"
                    }
                }
            },
            "type": "object"
        }
    },
    "externalDocs": {
        "description": "\u8be6\u7ec6\u67e5\u770b\u6587\u6863",
        "url": "#"
    }
}